<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <%= image_tag "home/LegalRock-Logo.png", alt: 'LegalRock', class:'logo-card' %>
      </div>
      <div class="card-body">
        <% if(@error_message.nil?) %>
          <p>
            <%= I18n.t('views.setup_account.connect.text') %>
          </p>
          <%= form_with scope: :account, url: setup_account_calendar_path, local: true, data: { controller: 'select_calendar'} do |f| %>
            <%= hidden_field 'account', 'calendar_name', data: { target: 'select_calendar.name' }  %>
            <%= hidden_field 'account', 'calendar_timezone', data: { target: 'select_calendar.timezone' }  %>
            <%= f.collection_radio_buttons :calendar_id, @calendars, :id, :name, checked: @calendars&.first&.id do |b| %>
              <div class="form-check">
                <%= b.radio_button class: "form-check-input", data: { name: b.text, timezone: b.object.timezone } %>
                <%= b.label class: 'form-check-label' %>
              </div>
            <% end %>
            <div class="row">
              <%= f.submit I18n.t('views.setup_account.connect.submit'), class: "col-12 col-sm-6 offset-sm-3 btn btn-block btn-primary mt-3", data: {action: "select_calendar#submit" } %>
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-danger">Ha ocurrido un error. Pongase en contacto con soporte técnico. <%= @error_message %> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
