<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        <%= image_tag "home/LegalRock-Logo.png", alt: 'LegalRock', class:'logo-card' %>
      </div>
      <div class="card-body">
        <p class="h5">
          <%= t('views.setup_account.index.text_1') %>
        </p>
        <div class="row mt-3">
          <div class="col text-center">
            <%= image_tag "setup_account/google_calendar.png", alt: 'google calendar' %>
            <small>Google Calendar</small>
          </div>
          <div class="col text-center">
            <%= image_tag "setup_account/outlook_calendar.png", alt: 'outlook calendar' %>
            <small>Outlook Calendar</small>
          </div>
          <div class="col text-center">
            <%= image_tag "setup_account/exchange.png", alt: 'exchange' %>
            <small>Exchange Server</small>
          </div>
          <div class="col text-center">
            <%= image_tag "setup_account/other.png", alt: 'caldav' %>
            <small>CalDAV(*)</small>
          </div>
        </div>

        <p class="mt-3">
          <%= t('views.setup_account.index.caldav') %>
        </p>

        <%= form_with scope: :account, url: setup_account_connect_url, locale:true, data: { 'controller' => 'connect', 'connect-appid' => @app_id, 'connect-scope' => @scope } do |f| %>
          <%= hidden_field 'account', 'id', data: { target: 'connect.id' } %>
          <%= hidden_field 'account', 'access_token', data: { target: 'connect.accessToken' } %>

          <div class="row">
            <div id="auth-error" class="alert alert-danger d-none">Ha ocurrido un error conectando el calendario. Vuelva a intentarlo y pongase en contacto con soporte técnico si el error persiste.</div>
          </div>
          <div class="row">
            <%= f.submit t('views.setup_account.index.submit'), class: "col-12 col-sm-6 offset-sm-3 btn btn-block btn-primary mt-3", data: {action: "connect#auth"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
