<div class="row justify-content-center">
	<div class="col-md-8">
		<div class="card mt-4">
			<div class="card-body">
				<h2><b>Actualizado a: 22 de marzo de 2019</b></h2>
				<h1>Aviso legal</h1>
				<p><b>Lo más básico</b>:</p>
				<ul>
					<i><b>Responsable de la web</b>: Nolegaltech Crazy Rabbits, S.L.</i>
					<i><b>Contacto</b>: banda@legalrock.com</i>
					<i><b>Propiedad intelectual</b>: contenido de la web bajo licencia CC BY-SA 4.0</i>
					<i><b>Datos recopilados</b>: por el uso de la web y  por los emails que nos envíes.</i>
				</ul>
				<h2>1.- Esta web es nuestra</h2>
				<p>A través de legalrock podrás sincronizar tu agenda con los calendarios más importantes como son Google calendar, Outlook Calendar, Exchange Server, de esta manera ahorrarás tiempo y tendrás siempre actualizada tu agenda para prestar un mejor servicio a tus clientes.</p>

				<h2>2.- Y tú eres un usuario, esto es lo que pasa</h2>
				<p>El uso de la web te identifica como usuario, y con ello aceptas los términos y condiciones que te indicamos a continuación.</p>
				<p>Para usar nuestro servicio tendrás que seguir los siguientes pasos:</p>
				<ol>
					<li>Regístrate</li>
					<li>Inicia sesión</li>
					<li>Vincula tu calendario</li>
				</ol>
				<p>Una vez configurado el servicio podrás compartir un enlace con tus clientes para que ellos puedan reservar una cita contigo en las franjas horarias que tu has marcado como disponible</p>

				<h2>3.- Propiedad Intelectual e Industrial</h2>
				<p>Que quede claro que nosotros somos los únicos titulares o licenciatarios de los derechos de propiedad intelectual e industrial de la web, así como de los elementos contenidos en la misma. Expresamente prohibimos toda reproducción, distribución, comunicación pública y transformación de la totalidad o parte de los contenidos de esta web, con fines comerciales, en cualquier soporte y por cualquier medio técnico. Ahora bien, que si quieres compartir contenidos te informamos de que están sujetos a una licencia Creative Commons Reconocimiento – Compartir Igual – 4.0. O sea, puedes copiar algo o reproducirlo, pero nos mencionas y no tocas nada. Debes compartir igual, es decir, “como está”, que ya te decimos nosotros que así está bien, no lo toques. Creemos en compartir ideas y contenidos, pero no en copiar por la cara. No nos plagies.</p>

				<h2>4.- Protección de datos</h2>
				<p>Desde legalrock nos tomamos muy en serio tu privacidad, y adoptamos todas las medidas de seguridad que nos son posibles para protegerla. A continuación queremos explicarte qué hacemos con tus datos, y dejarte claro que la información que nos vayas a proporcionar es confidencial. No la compartimos con terceros, salvo en los casos contemplados por la ley. Cuando te pones en contacto con nosotros nos estás dando datos e información personal. Aquí está lo que necesitas conocer en este sentido:</p>

				<h3>¿Quién es el responsable del tratamiento de los datos?</h3>
				<ul>
					<i>Nolegaltech Crazy Rabbits, S.L.</i>
					<i>Rúa Costa de San Marcos, nº 3, 2º</i>
					<i>NIF B70534516</i>
					<i>banda@legalrock.com</i>
				</ul>

				<h3>¿A quién le afecta esto?</h3>
				<p>Esta privacidad es aplicable a los datos de los usuarios de esta página web. A estos efectos, son usuarias las personas que nos facilitan información.</p>

				<h3>¿Cuáles son las finalidades del tratamiento de la información?</h3>
				<p>Básicamente, navegar por la web y en su caso, gestionar los emails que nos envíes. Ocasionalmente los usaremos para mejorar los servicios, por ejemplo haciendo estadísticas o analizando los resultados de las herramientas de analítica, haciendo encuestas si tenemos tu correo, algo de publicidad sobre nuestros productos o de terceros que te recomendemos…</p>

				<h3>¿Cuál es nuestra legitimación para hacer todo esto con la información que nos facilitas?</h3>
				<p>Nuestras intenciones son buenas, la base legal es la aceptación del aviso y tu interés en colaborar, solicitar información o lo que surja en este sentido.</p>

				<h3>¿Qué datos vamos a tratar?</h3>
				<p>Esto no es un banco, la información que tenemos son los datos que nos facilitas directamente (puede ser tu correo electrónico, nombre, apellidos, teléfono…) o la información que conseguimos automáticamente cuando navegas por la web, pero es información que está anonimizada así que tampoco te creas que vamos a averiguar mucho. Saber cuanto tiempo estás por la web…pero de forma que no identificamos tu IP, ni tu usuario, ni siquiera tu sistema operativo.</p>
				<p>Para mejorar tu experiencia de usuario, recopilamos datos automáticamente (te lo explicamos mejor en las cookies) pero no es información que compartamos con terceros. Además, es posible que nos envíes un email para pedirnos más información y/o para poder probar nuestra herramienta, ese email también lo guardamos.</p>
				<p>Al usar nuestro servicio conectarás tu calendario, proporcionado por otro proveedor de servicios como puede ser Google en caso de que uses Google Calendar, estos servicios tendrán sus propias políticas de privacidad, antes de usarlos léelas y en todo caso nosotros no somos responsables del uso que esos otros proveedores hagan de los datos que tu le proporciones u obtengan de tu uso de su servicio.</p>
				<p>En el momento de la redacción de este documento puedes utilizar alguno o algunos de los siguientes servicios, te dejamos un enlace a sus correspondientes políticas de privacidad:</p>

				<ul>
					<li><a href="https://policies.google.com/privacy?hl=eshttps://policies.google.com/privacy?hl=eshttps://policies.google.com/privacy?hl=es">Google Calendar</a>
					</li><li><a href="https://privacy.microsoft.com/es-es/privacystatement">Outlook Calendar</a>
					</li><li><a href="https://docs.microsoft.com/es-es/office365/securitycompliance/gdpr-for-exchange-server">Exchange Server</a>
					</li><li><a href="http://dmfs.org/caldav/?privacy">CalDAV</a>
					</li></ul>

					<h3>Tus derechos</h3>
					<p>Te recuerdo que en tu condición de usuario, siempre podrás ejercitar tus derechos de acceso, rectificación, limitación, cancelación, eliminación y oposición sobre los datos personales que tengamos sobre ti. No necesitas explicarnos el motivo, nos mandas un correo a banda@legalrock.com con la solicitud e intentamos que en el menor tiempo posible quede resuelta.</p>
					<p>No olvides indicar tus datos como nombre y apellidos, y adjuntar una fotocopia del DNI, para que sepa que eres tú.</p>

					<h2>5.- Responsabilidad</h2>
					<p>Dentro de los límites de la ley, Nolegaltech Crazy Rabbits no se hace responsable de: a) errores u omisiones en los contenidos, b) falta de disponibilidad de la web o c) transmisión de programas maliciosos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo. Intentamos que nuestro contenido esté en un entorno seguro pero no puedo garantizar milagros :(</p>
					<p>Cuando uses nuestro servicio puedes ser redireccionado a otros sitios web, en ningún caso somos responsables del contenido, usabilidad o cualquier daño que puedas sufrir ya que nosotros no tenemos ningún tipo de control sobre esos sitios que estarán sujetos a sus propios términos y condicones.</p>
					<h2>6.- Cambios en las condiciones</h2>
					<p>Estos textos o los contenidos de la web pueden cambiar en cualquier momento. Si son cambios grandes, que te afectan como usuario, te avisaremos si tenemos tu correo electrónico, pero para las pequeñas cosas simplemente dejaremos un aviso por la web y podrás echar un ojo cuando quieras.</p>
					<p>Las modificaciones entrarán en vigor desde el momento de su publicación, salvo que se indique algo distinto, pero 99% de los casos cuando las publique.</p>

					<h2 id="cookies">7.- Cookies</h2>
					<p>Aquí te dejo las normas que aplicamos respecto a las galletitas, con un listado completo de las que usamos e instrucciones sobre su uso:</p>
					<ul>
						<i><b>Cookies usadas</b>: Propias y de Terceros</i>
						<i><b>¿Se usan para obtener estadísticas?</b>: Sí</i>
						<i><b>¿Se usan para publicidad?</b>:No</i>
						<i><b>Servicios de terceros que instalan cookies a través de esta web</b>: Google Analytics</i>
					</ul>

					<h2>7.1 Cómo configurar y deshabilitar las cookies</h2>
					<p>Puedes permitir, bloquear o eliminar las cookies instaladas en tu dispositivo desde tu navegador web. Si no permites la instalación de cookies en tu dispositivo, puede que la experiencia de navegación empeore. A continuación puedes encontrar cómo configurar las cookies en cada navegador:</p>

					<ul>
						<li><a href="http://windows.microsoft.com/es-es/windows-10/edge-privacy-faq">Edge</a></li>
						<li><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a></li>
						<li><a href="https://support.google.com/chrome/answer/2392971?hl=es">Google Android</a></li>
						<li><a href="http://windows.microsoft.com/es-es/windows-vista/block-or-allow-cookies">Internet Explorer 7 y 8</a></li>
						<li><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9">Internet Explorer 9</a></li>
						<li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-10">Internet Explorer 10</a></li>
						<li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11">Internet Explorer 11</a></li>
						<li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">Mozilla Firefox</a></li>
						<li><a href="http://help.opera.com/Linux/10.60/es-ES/cookies.html">Opera</a></li>
						<li><a href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&amp;locale=es_ES">Safari</a></li>
						<li><a href="https://support.apple.com/es-es/HT201265">Safari Mobile</a></li>
					</ul>

					<h2>7.2. Tipos y usos</h2>
					<p>El servicio usa cookies propias y de terceros para mejorar la navegación, proporcionar el servicio y obtener estadísticas sobre el uso de la página web.</p>

					<h2>7.3. ¿Qué es una cookie y para qué sirve?</h2>
					<p>Una cookie es un fichero de texto que se envía al navegador web de tu ordenador, móvil o tablet y que sirve para almacenar y recuperar información sobre la navegación realizada. Por ejemplo, recordar tu nombre de usuario y contraseña o las preferencias de tu perfil.</p>

					<h2>7.4. ¿Qué tipos de cookies hay?</h2>
					<p>Según quién las gestiona:</p>
					<ul>
						<li><b>Cookies propias</b>: envían a tu navegador desde nuestros equipos o dominios web.</li>
						<li><b>Cookies de terceros</b>: envían a tu navegador desde un equipo o dominio web que no gestionamos nosotros directamente, sino una tercera entidad como por ejemplo Google.</li>
					</ul>

					<p>En función del tiempo que están activas, hay:</p>
					<ul>
						<li><b>Cookies de sesión</b>: permanecen en el archivo de cookies de tu navegador hasta que abandonas la página web, de modo que ninguna queda en tu dispositivo.</li>
						<li><b>Cookies persistentes</b>: permanecen en tu dispositivo y nuestra web las lee cada vez que realizas una nueva visita. Estas cookies dejan de funcionar pasada una fecha concreta.</li>
					</ul>

					<p>Finalmente, y según su finalidad, tenemos:</p>
					<ul>
						<li><b>Cookies técnicas</b>: mejoran la navegación y el buen funcionamiento de la web.</li>
						<li><b>Cookies de personalización</b>: permiten acceder al servicio con unas características predefinidas en función de una serie de criterios.</li>
						<li><b>Cookies de análisis</b>: permiten medir y analizar estadísticamente el uso que se hace del servicio prestado.</li>
					</ul>

					<p> Cookies usadas por <b>legalrock</b>:
					</p><table class="table table-bordered">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Origen</th>
								<th>Finalidad</th>
								<th>Tipo</th>
								<th>Caducidad</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1P_JAR</td>
								<td>.gstatic.com</td>
								<td>Estadísticas</td>
								<td>Terceros</td>
								<td>18 días</td>
							</tr>
							<tr>
								<td>CONSENT</td>
								<td>.gstatic.com</td>
								<td>Estadísticas</td>
								<td>Terceros</td>
								<td>19 años</td>
							</tr>
							<tr>
								<td>_ga</td>
								<td>.legalrock.es</td>
								<td>Estadísticas</td>
								<td>Propia</td>
								<td>9 meses</td>
							</tr>
							<tr>
								<td>_legalrock_session</td>
								<td>legalrock</td>
								<td>Técnica</td>
								<td>Propia</td>
								<td>8 meses</td>
							</tr>
						</tbody></table>
						<p><a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google Analytics</a>: Sus cookies (_ga, _gat o __utma) permiten contabilizar las veces que un usuario visita una web, cómo, cuándo y desde dónde lo hace.</p>
						<p>En cualquier caso, puedes inhabilitar las cookies de Google Analytics desde <a href="https://tools.google.com/dlpage/gaoptout">aquí</a>.</p>
						<p><a href="http://www.google.com/policies/privacy/">Google</a>: Sus cookies (NID o CONSENT) permiten personalizar cómo se ven anuncios fuera de Google o almacenar información como el idioma preferido a la hora de mostrar resultados de búsqueda.</p>
						<p>En cualquier caso, aquí puedes encontrar <a href="https://www.google.com/policies/technologies/types/">más información</a>sobre los tipos de cookies que usa Google en sus múltiples servicios.</p>

						<h2><b>8.- Contacto</b></h2>
						<p>Si quieres ponerte en contacto con nosotros envíanos un correo electrónico a banda@legalrock.es</p>
			</div>
		</div>
	</div>
</div>
