<% if resource.errors.any? %>
	<div class="alert alert-danger" role="alert">
		<h6>
			<%= I18n.t("errors.messages.not_saved",
								 count: resource.errors.count,
								 resource: resource.class.model_name.human.downcase)
							 %>
		</h6>
		<ul>
			<% resource.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
