<div class="form-group row">
  <label class="col-md-5 col-form-label" for="address"><%= I18n.t('views.account_profiles.index.address_label') %></label>
  <div class="col-md-7">
    <%= text_field_tag('address', @account_settings.address, add_error_attrs(@account_settings, [:address], {class: 'form-control'})) %>
  </div>
</div>

