<div class="form-group row">
  <label class="col-md-9 col-form-label" for="duration[minutes]"><%= I18n.t('views.account_profiles.index.duration_label') %></label>
  <div class="col-md-3">
    <%= number_field_tag('duration[minutes]', @account_settings.duration, add_error_attrs(@account_settings, [:duration], {class: 'form-control', placeholder: AccountSetting::DEFAULT_DURATION, min: AccountSetting::MIN_DURATION})) %>
  </div>
</div>
