<div class="modal fade" id="welcome-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header landing">
        <div class="container-fluid">
          <div class="modal-title text-center mt-2">
            <%= image_tag "075-startup-70.png" %>
            <p class="h3">
              <%= I18n.t('views.account_profiles.index.modal_header') %>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <p class="mt-3">
            <%= I18n.t('views.account_profiles.index.modal_introduction') %>
          </p>

          <div class="row">
            <div class="col-md-auto">
              <%= image_tag "home/023-distribution.png" %>
            </div>
            <div class="col-10">
              <%= raw t('views.account_profiles.index.modal_tip1') %>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-auto">
              <%= image_tag "065-schedule.png" %>
            </div>
            <div class="col-10">
              <%= raw t('views.account_profiles.index.modal_tip2') %>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-auto">
              <%= image_tag "home/045-paper-plane.png" %>
            </div>
            <div class="col-10">
              <%= raw t('views.account_profiles.index.modal_tip3') %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal"><%= t('views.account_profiles.index.modal_close') %></button>
      </div>
    </div>
  </div>
</div>
