<%= render 'welcome_modal' %>

<div data-controller="account-profiles">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card mt-2">
        <div class="card-header">
          <i class="fa fa-send-o"></i>
          <%= I18n.t('views.account_profiles.index.booking_header') %>
        </div>
        <div class="card-body">
          <div class="mx-center">
            <p>
            <%= I18n.t('views.account_profiles.index.booking_text') %>
            </p>
            <div class="alert alert-primary text-center"><%= @form_url %></div>
          </div>

          <div class="row">
            <button class="col-12 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 btn btn-primary" type="button" data-url="<%= @form_url %>" data-action="account-profiles#copy">
              <i class="fa fa-chain"></i>&nbsp;<%= I18n.t('views.account_profiles.index.copy_link') %>
            </button>
            <div id="clipboard-alert" class="mx-auto collapse text-success" role="alert"><%= I18n.t('views.account_profiles.index.copy_success') %></div>
          </div>
          <div class="row mt-2">
            <a href="whatsapp://send?text=Sigue este enlace para ver mi disponibilidad: <%= @form_url %>" class="col-12 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 btn btn-light">
              <i class="fa fa-whatsapp"></i>&nbsp;<%= I18n.t('views.account_profiles.index.share_whatsapp') %>
            </a>
          </div>
          <div class="row mt-2">
            <a href="<%= appointment_path(@account_settings.slug) %>" target="_blank" class="col-12 col-lg-8 offset-lg-2 col-xl-10 offset-xl-1 btn btn-light">
              <i class="fa fa-external-link"></i>&nbsp;<%= I18n.t('views.account_profiles.index.open_form') %>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card">
        <%= form_with url: account_profile_path(@account_id), method: :put do |f| %>
          <div class="card-header">
            <%= I18n.t('views.account_profiles.index.title') %>
          </div>

          <div id="periods-table" class="card-body">
            <%= render partial: 'periods_table' %>
          </div>

          <div class="card-footer">
            <%= button_tag 'Submit', class: "btn btn-primary btn-sm" do %>
              <i class="fa fa-dot-circle-o"></i>
              <%= I18n.t('views.account_profiles.index.save') %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
