Confirmación de cita el <%= I18n.l @date.to_date, format: :long %>
===================================

Hola <%= @person_name %>,
Te enviamos este email porque has reservado cita con <%= @firm_name %>

Te esperamos el <%= I18n.l @date.to_date, format: :long %> a las <%= @date.strftime('%H:%M') %>
en <%= @address %>
