Nueva cita recibida el <%= I18n.l @date.to_date, format: :long %>
===================================

<%= @person_name %> ha reservado una cita el <%= I18n.l @date.to_date, format: :long %> a las <%= I18n.l @date, format: :hour_min %>!

Con este comentario:

<%= @text %>

También hemos creado un evento en tu calendario para que lo tengas a mano.
