<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card-group">
      <div class="card p-4">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="card-body">
            <h1><%= t('views.users.passwords.new.title') %></h1>
            <p class="text-muted"><%= t('views.users.passwords.new.subtitle') %></p>
            <%= render 'users/shared/error_messages' %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-envelope"></i>
                </span>
              </div>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('views.users.passwords.new.email'), required: true, class: 'form-control' %>
            </div>
            <div class="row">
              <div class="col-6">
                <%= f.submit t('views.users.passwords.new.submit'), class: "btn btn-primary px-4" %>
              </div>
              <div class="col-6 text-right">
                <%= link_to t('views.users.passwords.new.login'), new_session_path(resource_name) %></br>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
