<div class='row'>
  <div class='col-6 offset-3'>
    <div class="card card-accent-success">
      <div class="card-body p-4">
        <div class="text-center">
          <%= image_tag "079-target.png", width: '100px' %>
          <br>
          <p class="text-success h1">Reserva Confirmada</p>
        </div>

        <p class="border-bottom h4 mt-4">
          Detalles de la reserva
        </p>

        <p class="font-weight-bold mt-3">
          <%= image_tag "065-schedule.png", width: '30px' %>
          <%= I18n.l @form.date.to_date, format: :long %> a las <%= @form.date.strftime('%H:%M') %>
        </p>
        <p class="font-weight-bold">
          <%= image_tag "022-direction.png", width: '30px' %> <%= @form.address %>
        </p>
        <p>
          Recibirás en breve un mail con esta confirmacion a <%= @form.email %>.
        </p>
      </div>
    </div>
  </div>
</div>
