
<div class='row mt-3'>
  <% @form.days_to_show.each do |day| %>
    <div class="col-2 d-none d-md-block text-center">
      <%= I18n.l(day, format: '%A') %>
    </div>
  <% end %>
</div>

<div class='row'>
  <% @form.days_to_show.each do |day| %>
    <div class="col-2 d-none d-md-block text-center">
      <%= I18n.l(day, format: '%e') %>
    </div>
  <% end %>
</div>
<% (0..@form.n_rows - 1).each do |row_num| %>
  <div class='row mt-3' >
    <% @form.days_to_show.each do |day| %>
      <div class="col-2 d-none d-md-block text-center">
        <% if row_num == 0 && @form.slots_by_day_of_week[day.wday + 1].nil? %>
          -
        <% end %>

        <% unless @form.slots_by_day_of_week.dig(day.wday + 1, row_num).nil? %>
          <button class="btn btn-block btn-outline-success" type="button" data-action="appointments#submit" data-value="<%= @form.slots_by_day_of_week[day.wday + 1][row_num].start.iso8601 %>"><%= I18n.l(@form.slots_by_day_of_week[day.wday + 1][row_num].start, format: '%H:%M') %></button>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
