<div class='row'>
  <div class='col-10 col-lg-6 offset-1 offset-lg-3'>
    <div class='card'>
      <%= form_with scope: :appointment, url: appointment_path(@account.account_setting.slug), method: :patch, local: true, data: { controller: 'appointments'} do |f| %>
        <%= hidden_field 'appointment', 'reset', data: { target: 'appointments.reset' }  %>
        <div class='card-header font-weight-bold'>
          <%= @form.account_name %>
        </div>
        <div class='card-body'>
          <p class="h4 text-center font-weight-bold">
            <%= t('views.appointments.show.personal_title') %>
            </br>
            <%= l(@form.date, format: :long) %>
          </p>

          <div class="form-group mt-5">
            <div class="controls">
              <p class="help-block">
                <%= t('views.appointments.show.mail_tip') %>
              </p>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-envelope"></i>
                  </span>
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('views.appointments.show.email'), required: true, class: 'form-control' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <p class="help-block">
                <%= t('views.appointments.show.name_tip') %>
              </p>
                <%= f.text_field :name, autofocus: true, placeholder: t('views.appointments.show.name') , required: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="controls">
              <p class="help-block">
                <%= t('views.appointments.show.text_tip') %>
              </p>
              <%= f.text_area :text, autofocus: true, class: 'form-control', rows: 9, maxlength: 250 %>
            </div>
          </div>


        </div>
        <div class='card-footer'>
          <%= button_tag 'Submit', class: "btn btn-primary btn-sm" do %>
            <i class="fa fa-dot-circle-o"></i>
            <%= t('views.appointments.show.save') %>
          <% end %>
          <button class="btn btn-link" type="button" data-action="appointments#reset"><%= t('views.appointments.show.reset_form') %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
