<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'LegalRock Citas - Software para abogados ocupados' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('favicon.ico') %>">
    <link rel="icon" type="image/x-icon" href="<%= image_url('favicon32x32.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/sentry' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app flex-row align-items-center">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
<%= render 'cookies_eu/consent_banner', link: '/legal#cookies' %>
