<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mx-4">
      <div class="card-header">
        <%= image_tag "home/LegalRock-Logo.png", alt: 'LegalRock', class: 'logo-card' %>
      </div>
      <div class="card-body p-4">
        <%= form_with scope: :user, url: user_registration_path, local: true do |f| %>
          <h1><%= t('views.users.registrations.new.title') %></h1>
          <%= render 'users/shared/error_messages' %>
          <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-envelope"></i>
              </span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: t('views.users.registrations.new.email'), required: true, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= f.text_field :name, autofocus: true, placeholder: t('views.users.registrations.new.name'), required: true, class: 'form-control' %>
          </div>
          <% if @minimum_password_length %>
            <em>(<%= t('views.users.registrations.new.password_tip', char: @minimum_password_length) %>)</em>
          <% end %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-lock"></i>
              </span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: t('views.users.registrations.new.password'), required: true, class: 'form-control' %>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-lock"></i>
              </span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: t('views.users.registrations.new.repeat_password'), required: true, class: 'form-control' %>
          </div>
          <%= f.submit t('views.users.registrations.new.submit'), class: "btn btn-block btn-primary" %>
          <div class='text-right mt-3'>
            <%= t('views.users.registrations.new.login_tip') %>
            <%= link_to t('views.users.registrations.new.login'), new_session_path(resource_name) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
